@model List<BasketVM>
@{
    ViewData["Title"] = "ShowBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double TotalPrice = Model.Sum(p => p.Price * p.BasketCount);
}

<div class="container">
    @if (Model.Count > 0)
    {
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Increase count</th>
                        <th scope="col">Decrease count</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <img src="~/img/@item.ImageUrl" width="100" height="100">
                            </th>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.BasketCount</td>

                            
                            <td>
                                <a asp-controller="basket" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt" style="font-size:30px;"></i>
                                </a>
                            </td>
                            
                           
                            <td>
                                <a asp-controller="basket" asp-action="Add" asp-route-id="@item.Id">
                                    <i class="far fa-plus-square" style="font-size:30px;color:green"></i>
                                </a>
                                
                            </td>
                            <td>
                                <a asp-controller="basket" asp-action="Remove" asp-route-id="@item.Id">
                                    <i class="far fa-minus-square" style="font-size:30px;color:red"></i>
                                </a>
                                
                            </td>
                            


                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <p style="font-size:30px">Total Price: @TotalPrice</p>
        </div>
        <div class="row justify-content-center">
            <a asp-controller="home" asp-action="index">Go to home</a>
        </div>

    }
    else
    {
        <div class="row justify-content-center">
            <a asp-controller="home" asp-action="index">go to home</a>
        </div>
    }
</div>

